@{
    ViewBag.Title = "About the Blogger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    

<section class="s-content s-content--top-padding s-content--narrow">

        <div class="row narrow">
            <div class="col-full s-content__header">
                <h1 class="display-1 display-1--with-line-sep">About The Blogger</h1>

            </div>
        </div>
</section>


        <section>
            <div class="container">
                <div class="row" align="center">
                    <img src="~/Images/ChimneyRockWaterfall.jpg">
                </div>
            </div>
        </section>

<br/>

        <div class="container">
            <div class="row">
                <div data-animate="fadeInUp" class="col-lg-6">
                    <p align="center">My name is Zach Pruitt and I was born and raised in the small town of Kernersville, North Carolina. </p>
                    <p align="center">Growing up I enjoyed playing baseball, golf, football, basketball and hockey. I was also an avid dirtbike rider, competing in Hare-Scramble events in the mountains on the weekends. My hobbies include playing guitar, reading, skim-boarding, kayaking, fishing, hiking, running, carpentry, and all things sports.  </p>
                    <p align="center">In my spare time I enjoy hanging out with friends, family, my girlfriend Kristina and our three dogs; Zoso, Karma and Suki. Kristina and I love to take the pups walking and hiking, and also enjoy spontaneous trips to the beach and mountains.</p>
                </div>
            </div>
        </div>

<br/>